<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="animated fadeInDown card my-4">
        <img class="img-fluid" src="./assets/img/sunset.jpg" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title text-center">Comunicate Conmigo</h1>
          <p>¿Quiere hacer un regalo especial a un ser querido? ¡Regala una canción! Un ramo de rosas se entristece en tres
            días. Una canción perdura por siempre.
          </p>
          <p>¿Eres parte de un grupo musical? ¿Buscas material para hacer un disco? Contamos con 600 canciones de todos los
            géneros. No hay límite.
          </p>
          <p>Podemos componer comerciales musicales para publicidad de tu negocio. Poemas, pensamientos, declamaciones, etc.
          </p>
          <hr class="my-2">
          <p class="card-text">Todo por un módico precio, nos ajustamos a tu presupuesto. Comunícate con nosotros mandanos un correo a:
            <a href="mailto:composiciones@familiagaxiola.com"><i class="fa fa-envelope left"></i> Luis Gaxiola</a>. O llamanos
            por telefono:
          </p>
          <p class="text-center">
            <i class="fa fa-phone left"></i> 520-988-1418 (USA)
            <br> <i class="fa fa-phone left"></i> 044-631-109-9841 (México).
            <br> Déjenos un mensaje acerca de su proyecto y nosotros nos comunicamos con usted.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
