<!--Navbar-->
<navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#">Composiciones Musicales</a></logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" ripple-radius>Canciones<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" ripple-radius>Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" ripple-radius>Contacto</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
