<div class="container">
  <div class="row">
    <div class="col">
      <div class="card my-4">
        <!--Card image-->
        <img class="img-fluid" src="./assets/img/roberto1.jpg" alt="Card image cap">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Luis Roberto Gaxiola</h4>
          <!--Text-->
          <p class="card-text">Tambien conocido como el Guamuchil quiere hacer tu sueño musical una realidad. ¿Quieres que te componga una canción?
            ¿Sueñas con un disco? Yo te puedo ayudar.
          </p>
          <a routerLink="/contacto" class="btn btn-block btn-primary waves-light" ripple-radius>Dime Como</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-4">
        <!--Card image-->
        <img class="img-fluid" src="./assets/img/roberto2.jpg" alt="Card image cap">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Mis Mas Nuevas Canciones</h4>
          <!--Text-->
          <p class="card-text">
            <a href="http://composicionesmusicales.com/canciones/Ella_No_Es_De_Carne_y_Hueso.mp3"><i class="fa fa-play-circle left"></i> Ella No Es De Carne y Hueso</a>
            <br>
            <a href="http://composicionesmusicales.com/canciones/Un_Minuto_Me_Toma.mp3"><i class="fa fa-play-circle left"></i> Un Minuto Me Toma</a>
            <br>
            <a href="http://composicionesmusicales.com/canciones/Las_Hormigas_Cumbia.mp3"><i class="fa fa-play-circle left"></i> Las Hormigas Cumbia</a>
          </p>
          <a routerLink="/canciones" class="btn btn-primary btn-block waves-light" ripple-radius>Mas canciones</a>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1 class="h1-responsive text-center">Comunicate Conmigo</h1>
    <p class="lead">¿Quiere hacer un regalo especial a un ser querido? ¡Regala una canción! Un ramo de rosas se entristece en tres días.
      Una canción perdura por siempre.
    </p>
    <p class="lead">¿Eres parte de un grupo musical? ¿Buscas material para hacer un disco? Contamos con 600 canciones de todos los géneros.
      No hay límite.
    </p>
    <p class="lead">Podemos componer comerciales musicales para publicidad de tu negocio. Poemas, pensamientos, declamaciones, etc.
    </p>
    <hr class="my-2">
    <p>Todo por un módico precio, nos ajustamos a tu presupuesto. Comunícate con nosotros mandanos un correo a:
      <span><a href="mailto:composiciones@familiagaxiola.com"><i class="fa fa-envelope left"></i> Luis Gaxiola</a></span>,
      o por telfono: 520-988-1418 (USA) 044-631-109-9841 (México). Déjenos un mensaje acerca de su proyecto y nosotros nos
      comunicamos con usted.
    </p>
  </div>
</div>
